.navbar{
    background-color: #016dff;
    width: 100%;
    height: 40px;
}

.apnastore{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 13px !important;
    font-weight: bolder;
    color: white !important;
    margin-left:-10px !important 
    
    
    
}



.FaTruck{
    color: white;
    margin-left: 55px;
    font-size: 30px;

}

.d-flex{
    height: 29px;
    width:40%;
    margin-right: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    

}

.searchbox{
    height: 29px;
    font-size: 12px !important;
}

.BiSearchAlt2{
    margin-left: -27px;
    color:#016dff;
}

.FaCartPlus{
    color: white;
    font-size: 22px;
}


